body {
    font-family:garamond;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 60px;
}
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 450px; 
    height: 450px;
    border: 2px solid black; 
}

.row {
    display: contents; 
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0); 
    font-size: 24px; 
}

.cell:nth-child(3n) {
    border-right: 2px solid black;
}

.row:nth-child(3n) .cell {
    border-bottom: 2px solid black; 
}

.cell.selected {
    background-color: yellow;
}

#controls {
    margin-top: 20px;
}

.wrong {
    background-color: red;}

.fixed {
    background-color: rgb(237, 237, 237);

}

.solve{
    border-color: #04AA6D;
    color: green;
    background-color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 10px; 
    padding-bottom: 10px; 
}
.solve:hover {
    background-color: #04AA6D;
    color: white;}

.clear{
        border-color: #000000;
        color: grey;
        background-color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        padding-top: 10px; 
        padding-bottom: 10px; 
    }
    .clear:hover {
        background-color: #000000;
        color: white;}

div,button{font-family:garamond;}



